.cart-grid-item .cart-grid-item-image {
    height: 356px!important;}
    
    .text-danger {
    color: #0E4C80 !important;
}

.btn-info {
    background: #0E4C80;
    border: 1px solid #0E4C80;
}

#client-dashboard-summary-container .widget-details h1 {
    font-size: 1.5rem;
}

#client-dashboard-summary-container canvas {
    width: 100% !important;
    max-height: 80px !important;
}
#leads-day-wise-chart{height:700px!important; width:100%!important;}